#modal {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#modal.open {
  transition-delay: 0s;
  visibility: visible;
  opacity: 100;
}

#modal .modalBG {
  position: absolute;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.8);
}

#modal .modalContainer {
  max-width: 40rem;
  width: 80%;

  margin-inline: auto;
  margin-top: 25vh;

  border-radius: 1rem;
  padding: 3rem;

  position: relative;

  background: #212121;
}

#modal #question {
  font-weight: normal;
  font-size: 1.6rem;

  opacity: 0.9;
  margin-bottom: 1rem;
}

#answer {
  font-size: 2rem;
}

#modal button {
  right: 1.5rem;
  top: 1.5rem;

  height: 3rem;
  width: 3rem;

  position: absolute;

  background-color: transparent;
  fill: #ffffff;
  border: none;
}

#modal button:hover {
  cursor: pointer;
}
